.list {
  width: 100%;
  overflow-y: auto;
  max-height: 250px;
  margin: 0;
  padding: 0 1.25em 0 0;
}

.list-item {
  padding: 0.25em 0;
  display: list-item;

  &:before {
    content: '\2022';
    display: inline-block;
    margin-right: 0.5em;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}
