.graph-wrapper {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0 0.5em;
}

.graph-wrapper-label {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: capitalize;
  margin: 0 0 1em 0;

  &:global(.hidden) {
    opacity: 0;
  }
}
