.widget {
  font-size: 62.5%;
  font-family: inherit;

  // Resets
  label,
  button,
  p,
  a,
  ul,
  li {
    font-family: inherit;
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}
