.panel {
  position: relative;
  margin-top: 1em;

  &:global(.hidden),
  :global(.hidden) {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-top: 0;
    z-index: -1;
  }
}

.graphs {
  width: 100%;
}
