.world-map {
  width: 100%;
  height: 250px;
}

:global(.jvectormap-container) {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  touch-action: none;

  :global(.jvectormap-zoomin),
  :global(.jvectormap-zoomout),
  :global(.jvectormap-goback) {
    display: none;
  }

  :global(.jvectormap-spinner) {
    display: none;
  }
}

:global(.jvectormap-tip) {
  position: absolute;
  display: none;
  pointer-events: none;
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: #3c4043;
  padding: 1.1em;
  font-size: 0.8em;
  transform: translate(90%, 50px);

  :global(ul) {
    display: flex;
    justify-content: space-between;
  }

  :global(ul),
  :global(li) {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  :global(li:last-child) {
    margin-left: 2em;
    font-weight: 600;
  }
}
