.hypothesis {
  max-height: 200px;
  overflow-y: auto;
}

.hypothesis-summary {
  display: flex;
  align-items: center;
}

.hypothesis-summary-icon {
  margin-right: 0.7em;
  width: 1em;
}

.hypothesis-table-cell-date {
  white-space: nowrap;
}
