.line-graph-container {
  position: relative;
  height: 100%;
}

.line-graph-tooltip {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  padding: 1.1em;
  pointer-events: none;
  border-radius: 4px;
  color: #3c4043;
  font-size: smaller;
  transition: all 0.1s ease;
  z-index: 2;
}

.line-graph-tooltip-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.line-graph-tooltip-value {
  font-weight: bold;
}

.line-graph-tooltip-scope {
  font-weight: 600;
  text-transform: uppercase;
  font-size: smaller;
  opacity: 0.7;

  &:empty {
    display: none;
  }
}
