.line-graph {
}

.line-graph-tooltip {
  opacity: 0;
  display: flex;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1.1em;
  pointer-events: none;
  border-radius: 0.5em;
  color: #3c4043;
  font-size: 0.8em;
  transition: all 0.1s ease;
}

.line-graph-tooltip-value {
  margin-left: 2em;
  font-weight: 600;
}
