.key-value-table {
  width: 100%;
  overflow-y: auto;
  max-height: 250px;
  margin: 0;
  padding: 0 1.25em 0 0;
  border-bottom: 0.1em solid #c3c3c3;
}

.key-value-table-item {
  padding: 12px 0;
  display: flex;
  color: #000000;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 0.1em solid #c3c3c3;
  }
}

.key-value-table-item-key {
  flex-grow: 1;
  margin-right: 1em;
  text-transform: capitalize;
}

.key-value-table-item-value {
  display: flex;
  align-items: center;
}
